fastapi~=0.109.1
pydantic~=2.11.4
uvicorn[standard]
# git+https://github.com/The-Flow-Project/package-preprocessing@main
# git+https://github.com/The-Flow-Project/package-github-api@main
flow_preprocessing~=0.5.0
pydantic_core~=2.33.2
aiofiles